<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddup.sys.model.Privilege">

	<resultMap id="BaseResultMap" type="Privilege">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="action_url" property="actionUrl" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="is_menu" property="isMenu" jdbcType="BIT" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, action_url, parent_id,is_menu, icon, description, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_privilege
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sys_privilege
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ddup.sys.model.Privilege">
		insert into sys_privilege (id,
		name, action_url,
		parent_id, is_menu,icon, description,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{actionUrl,jdbcType=VARCHAR},
		#{parentId,jdbcType=INTEGER},
		#{isMenu,jdbcType=BIT},
		#{icon,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ddup.sys.model.Privilege">
		insert into sys_privilege
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="actionUrl != null">
				action_url,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="isMenu != null">
				is_menu,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="description != null">
				description,
			</if>
				create_time,
				update_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="actionUrl != null">
				#{actionUrl,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="isMenu != null">
				#{isMenu,jdbcType=BIT},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
				NOW(),
				NOW()
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ddup.sys.model.Privilege">
		update sys_privilege
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="actionUrl != null">
				action_url = #{actionUrl,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="isMenu != null">
				is_menu = #{isMenu,jdbcType=BIT},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
				update_time = NOW()
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ddup.sys.model.Privilege">
		update
		sys_privilege
		set name = #{name,jdbcType=VARCHAR},
		action_url =
		#{actionUrl,jdbcType=VARCHAR},
		parent_id = #{parentId,jdbcType=INTEGER},
		is_menu = #{isMenu,jdbcType=BIT},
		icon
		= #{icon,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 返回resultMap的list -->
	<select id="list" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_privilege 
        <where>
            <if test="fuzzyWord!=null">
                and (name like "%"#{fuzzyWord}"%"
                    or action_url like "%"#{fuzzyWord}"%"
                    or description like "%"#{fuzzyWord}"%")
            </if>
        </where>
	</select>

	<!-- 获取传入的一些列来list,userId是查询权限(菜单),roleId是分配角色的权限 -->
	<select id="listSelective" parameterType="map" resultType="map">
		select ${columns} from sys_privilege s
		<if test="userId != null">
			inner join sys_role_privilege rp on s.id=rp.privilege_id
		</if>
		<if test="roleId != null">
            inner join sys_role_privilege rp on s.id=rp.privilege_id
        </if>
        <if test="extraPName != null">
            left join sys_privilege rp on s.parent_id=rp.id
        </if>
		<where>
		    <if test="extraMenu != null">
                and s.is_menu = 1
            </if>
			<if test="userId != null">
				and rp.role_id in (select role_id from sys_user_role ur
				where ur.user_id
				= #{userId}) group by ${columns_2}
			</if>
			<if test="roleId != null">
                and rp.role_id = #{roleId}
            </if>
            <if test="fuzzyWord != null">
                and (s.name like "%"#{fuzzyWord}"%"
                    or s.action_url like "%"#{fuzzyWord}"%"
                    or s.description like "%"#{fuzzyWord}"%")
            </if>
		</where>
	</select>
	
	<!-- 根据传入某个参数，来计数 -->
	<select id="countSelectedProperty" parameterType="Privilege" resultType="java.lang.Integer">
	   select count(*) from sys_privilege p 
	   <where>
	       <if test="name != null">
	           and p.name = #{name,jdbcType=VARCHAR}
	       </if>
	   </where>
	</select>
	

</mapper>